*{
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}

body{
  background-color: #F5D3AB;
}

.products{
  display: block;
  margin-top: 105px;
  margin-left: 135px;

}

p{
  color: #171B1B;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
}

.heading{
  margin-top: 18px;
  margin-left: 135px;
  display: block;
}

.main-heading{
  color: #171B1B;
  font-family: Ultra;
  font-size: 56px;
  font-style: normal;
  font-weight: 400;
  line-height: 64px; /* 114.286% */
}

.products-section{
  display: flex;
  margin-top: 69px;
  margin-left:135px ;
  align-items: center;
}

.main-product{
  width: 770px;
  height: 448px;
  display: inline-block;
  background-image: url(media/bread.avif);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
  margin-right: 30px;
}

.main-company{
  color: #FFF;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  margin-top: 185px;
  margin-left: 48px;
  display: grid;
}

.main-product-heading{
  color: #FFF;
  font-family: Ultra;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  margin-top: 16px;
  margin-left: 48px;
}

.description-box{
  margin-left: 48px;
  margin-top: 18px;
  justify-content: space-between;
  display: flex;
  align-items: center;
}

.main-description{
  display: inline-block;
}

#description{
  color: rgba(255, 255, 255, 0.50);
  font-family: DM Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
}

.main-product-price{
  color: #FFF;
  text-align: right;
  font-family: Ultra;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
}

.price-box{
  display: inline-block;
  margin-left:26px;
  margin-right: 48px;
}

.other-product{
  display: inline-block;
  margin-right: 30px;
}


.other-product-image{
  width: 370px;
  height: 304px;
}

.image{
  width: 370px;
  height: 304px;
  object-fit: cover;
}

.other-product-info{
  width: 370px;
  height: 144px;
  background-color: #FFF;
}

.company-name{
  color: #171B1B;
  font-family: Oswald;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 200% */
  letter-spacing: 3px;
  text-transform: uppercase;
  padding-top: 25px;
  padding-left: 32px;
}

.info-price-box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.other-product-name{
  color: #171B1B;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
  padding-top: 12px;
  padding-left: 32px;
}

.other-product-price{
  color: #171B1B;
  text-align: right;
  font-family: Ultra;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 48px; /* 120% */
  padding-left: 201px;
  padding-top: 12px;
  padding-right: 32px;
}